:root {
  --text-color: #4dba5b;
}

@font-face {
  font-family: "Pacifico_regular";
  src: url(../../fonts/Pacifico-Regular.ttf);
}

@font-face {
  font-family: "Jua_regular";
  src: url(../../fonts/Jua-Regular.ttf);
}

.SignUp {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: beige;
}

.signup_container {
  position: absolute;
  display: flex;
  width: 70rem;
  height: 40rem;
  margin: 0 auto;
  left: 19rem;
  background-color: white;
  margin-top: 8rem;
  border-radius: 1rem;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.623);
}

.Image {
  position: relative;
  display: flex;
  width: 30rem;
  height: 100%;
  margin: auto;
  border-radius: 1rem;
  background-image: url(../../image/sign_up_background.jpg);
}

.img_food1 {
  position: absolute;
  display: flex;
  width: 8rem;
  height: 8rem;
  top: 1rem;
  left: 1rem;
}

.signup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40rem;
  width: 40rem;
  margin: auto;
  border-radius: 2rem 1rem 1rem 2rem;
  background-color: var(--text-color);
  color: white;
}

.title {
  position: absolute;
  top: 3rem;
  margin: 0 auto;
  display: flex;
  font-family: "Jua_regular";
  font-size: 2rem;
}

.singup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email,
.password,
.name,
.favoriteFood {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.input_email,
.input_password,
.input_name,
.input_food {
  display: flex;
  height: 1.8rem;
  width: 15rem;
  border: none;
  border-radius: 1rem;
}

.input_email::placeholder,
.input_password::placeholder,
.input_name::placeholder,
.input_food::placeholder {
  position: absolute;
  left: 0.5rem;
  top: 0.3rem;
}

.text_email,
.text_password,
.text_name,
.text_food {
  color: white;
  font-family: "Pacifico_regular";
  margin: 0;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.BtnSignUp {
  position: absolute;
  border: none;
  background-color: white;
  bottom: 4rem;
  padding: 0.3rem 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  color: var(--text-color);
  font-family: "Pacifico_regular";
  cursor: pointer;
}

.BtnSignUp:hover {
  transform: scale(1.1);
}
