* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Jua_regular";
  src: url(../../fonts/Jua-Regular.ttf);
}

@font-face {
  font-family: "HangeulNuri";
  src: url(../../fonts/HangeulNuriR.ttf);
}

.Home_Page {
  display: flex;
  overflow: hidden;
}

.slide_section > input[id*="slide"] {
  display: none;
}

.home {
  display: flex;
  position: absolute;
  top: 5.5rem;
  background-image: url(../../image/home_bg1_blurred.jpg);
  width: 100%;
  height: 868px;
  overflow: hidden;
}

.slide_section {
  display: flex;
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  left: 16%;
  top: 4.5rem;
  white-space: nowrap;
}

.slide_section:hover {
  cursor: default;
}

.slideWrap {
  position: relative;

  width: 1120px;
  height: 640px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.712);
}

.slides {
  width: 100%;
  height: 100%;
  padding: 0;
  flex-direction: row;
  transition: all 0.5s;
  white-space: nowrap;
}

.about1,
.about2,
.about3 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  transition: all 0.35s;
}

.about1_img {
  position: relative;
  display: flex;
  background-image: url(../../image/home_bg1.jpg);
  width: 1120px;
  height: 640px;
}

.about2_img {
  position: relative;
  display: flex;
  background-image: url(../../image/home_bg2.jpg);
  width: 1120px;
  height: 640px;
}

.about3_img {
  position: relative;
  display: flex;
  background-image: url(../../image/home_bg3.jpg);
  width: 1120px;
  height: 640px;
}

.about1_description,
.about2_description,
.about3_description {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.about1_right,
.about2_right,
.about3_right {
  display: flex;
  width: 55%;
}

.about1_descriptImg,
.about2_descriptImg,
.about3_descriptImg {
  display: flex;
  width: 9rem;
  position: absolute;
  top: 31%;
  left: 50%;
}

.about2_descriptImg {
  width: 6rem;
  left: 30%;
}

.about3_descriptImg {
  top: 33%;
  left: 45%;
}

.about1_subtitle,
.about3_subtitle {
  position: absolute;
  top: 10%;
  left: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jua_regular";
  font-size: 2rem;
  color: green;
}

.about2_subtitle {
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jua_regular";
  font-size: 2rem;
  color: rgb(83, 83, 243);
}

.about3_subtitle {
  color: palevioletred;
  left: 25%;
}

.about1_text,
.about3_text {
  display: flex;
  position: absolute;
  top: 55%;
  left: 30%;
  font-size: 1.2rem;
  font-family: "HangeulNuri";
  white-space: pre-line;
}

.about2_text {
  display: flex;
  position: absolute;
  top: 60%;
  font-size: 1.2rem;
  font-family: "HangeulNuri";
  white-space: pre-line;
}

.slides > li > label {
  display: none;
}

.slide_section [id="slide1"]:checked ~ .slideWrap .slides > li {
  transform: translateX(0%);
  animation: slide01 15s infinite;
}

.footer {
  display: flex;
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  background-color: #ffd740;
  align-items: center;
  justify-content: center;
  font-family: "HangeulNuri";
}

@keyframes slide01 {
  0% {
    left: 0%;
  }
  23% {
    left: 0%;
  }
  30% {
    left: -100%;
  }
  53% {
    left: -100%;
  }
  60% {
    left: -200%;
  }
  93% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}

@media screen and (max-width: 860px) {
  .slide_section {
    width: 560px;
    margin: 0 auto;
    left: 0;
  }

  .about1_img {
    background-image: url(../../image/home_bg1_860.jpg);
  }

  .about2_img {
    background-image: url(../../image/home_bg2_860.jpg);
  }

  .about3_img {
    background-image: url(../../image//home_bg3_860.jpg);
  }
}

@media screen and (max-width: 416px) {
  .slide_section {
    top: 1.5rem;
    width: 20rem;
    height: 36rem;
    margin: 0 auto;
    left: 0;
  }

  .about1_img {
    object-fit: cover;
  }

  .right {
    width: 3rem;
    object-fit: cover;
    right: 1rem;
  }

  .left {
    width: 3rem;
    object-fit: cover;
    left: 1rem;
  }

  .slides > li > label {
    top: 45%;
  }
}
