* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Jua_regular";
  src: url(../../fonts/Jua-Regular.ttf);
}

@font-face {
  font-family: "HangeulNuri";
  src: url(../../fonts/HangeulNuriR.ttf);
}

.Home_Page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  overflow: hidden;
  touch-action: none;
}

.slide_section > input[id*="slide"] {
  display: none;
}

.home {
  display: flex;
  position: absolute;
  top: 5.5rem;
  background-image: url(../../image/home_background.jpg);
  width: 100%;
  height: 868px;
  overflow: hidden;
}

.slide_section {
  display: flex;
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.slide_section:hover {
  cursor: default;
}

.slideWrap {
  position: relative;

  width: 1120px;
  height: 640px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.712);
}

.slides {
  width: 100%;
  height: 100%;
  padding: 0;
  flex-direction: row;
  transition: all 0.5s;
  white-space: nowrap;
}

.about1,
.about2,
.about3 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  transition: all 0.35s;
}

.about1_img {
  position: relative;
  display: flex;
  background-image: url(../../image/home_bg1.jpg);
  width: 1120px;
  height: 640px;
}

.about2_img {
  position: relative;
  display: flex;
  background-image: url(../../image/home_bg2.jpg);
  width: 1120px;
  height: 640px;
}

.about3_img {
  position: relative;
  display: flex;
  background-image: url(../../image/home_bg3.jpg);
  width: 1120px;
  height: 640px;
}

.about1_description,
.about2_description,
.about3_description {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.about1_right,
.about2_right,
.about3_right {
  display: flex;
  width: 55%;
}

.about1_descriptImg,
.about2_descriptImg,
.about3_descriptImg {
  display: flex;
  width: 9rem;
  position: absolute;
  top: 31%;
  left: 50%;
}

.about2_descriptImg {
  width: 6rem;
  left: 30%;
}

.about3_descriptImg {
  top: 33%;
  left: 45%;
}

.about1_subtitle,
.about3_subtitle {
  position: absolute;
  top: 10%;
  left: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jua_regular";
  font-size: 2rem;
  color: green;
}

.about2_subtitle {
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jua_regular";
  font-size: 2rem;
  color: rgb(83, 83, 243);
}

.about3_subtitle {
  color: palevioletred;
  left: 25%;
}

.about1_text,
.about3_text {
  display: flex;
  position: absolute;
  top: 55%;
  left: 30%;
  font-size: 1.2rem;
  font-family: "HangeulNuri";
  white-space: pre-line;
}

.about2_text {
  display: flex;
  position: absolute;
  top: 60%;
  font-size: 1.2rem;
  font-family: "HangeulNuri";
  white-space: pre-line;
}

.slides > li > label {
  display: none;
}

.slide_section [id="slide1"]:checked ~ .slideWrap .slides > li {
  transform: translateX(0%);
  animation: slide01 15s infinite;
}

.footer {
  display: flex;
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  background-color: #ffd740;
  align-items: center;
  justify-content: center;
  font-family: "HangeulNuri";
}

.footer_text {
  display: flex;
  line-height: 3rem;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 1rem;
}

.footer_link {
  color: black;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.5rem;
  padding-top: 0.3rem;
}

.footer_link:hover {
  transform: scale(1.2);
  color: green;
}

@keyframes slide01 {
  0% {
    left: 0%;
  }
  23% {
    left: 0%;
  }
  30% {
    left: -100%;
  }
  53% {
    left: -100%;
  }
  60% {
    left: -200%;
  }
  93% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}

@media screen and (max-width: 860px) {
  .home {
    height: 100%;
  }

  .slideWrap {
    height: 800px;
  }

  .slides {
    height: 800px;
  }

  .slide_section {
    width: 560px;
    height: 100%;
    margin: 0 auto;
  }

  .about1,
  .about2,
  .about3 {
    height: 800px;
  }

  .about1_img {
    background-image: url(../../image/home_bg1_860.jpg);
  }

  .about2_img {
    background-image: url(../../image/home_bg2_860.jpg);
  }

  .about3_img {
    background-image: url(../../image//home_bg3_860.jpg);
  }

  .about1_subtitle,
  .about3_subtitle {
    border-radius: 0.4rem;
    background-color: rgba(255, 255, 255, 0.692);
    padding: 1rem;
    left: 10%;
    top: 5%;
  }

  .about2_subtitle {
    border-radius: 0.4rem;
    background-color: rgba(255, 255, 255, 0.692);
    padding: 1rem;
    left: -10%;
    top: 5%;
  }

  .about2_right {
    display: none;
  }

  .about2_description {
    left: 5%;
  }

  .about1_text,
  .about2_text,
  .about3_text {
    width: 23rem;
    font-size: 1.3rem;
    top: 58%;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: rgba(220, 236, 245, 0.404);
  }

  .about1_text {
    background-color: rgba(220, 245, 220, 0.404);
  }

  .about2_text {
    background-color: rgba(220, 236, 245, 0.404);
    left: 20%;
  }

  .about3_text {
    background-color: rgba(245, 220, 228, 0.404);
  }

  .footer {
    display: none;
  }
}

@media screen and (max-width: 416px) {
  .home {
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    width: 100%;
    min-height: 100vh;
    flex: 1;
  }
  .slide_section {
    overflow-y: hidden;
    object-fit: cover;
    min-height: 100vh;
    width: 100%;
    top: 1rem;
  }

  .slideWrap {
    width: 100%;
    min-height: 100%;
  }

  .about1,
  .about2,
  .about3 {
    min-height: 100%;
  }

  .about1_img,
  .about2_img,
  .about3_img {
    object-fit: cover;
    height: 75vh;
  }

  .about1_subtitle,
  .about3_subtitle {
    font-size: 1.1rem;
    left: 5%;
    top: 5%;
  }

  .about2_subtitle {
    font-size: 1.1rem;
  }

  .about1_text,
  .about3_text {
    font-size: 0.9rem;
    width: 12rem;
    top: 58%;
    left: 40%;
  }

  .about2_text {
    font-size: 0.9rem;
    width: 12rem;
    left: -10%;
  }

  .about1_descriptImg,
  .about2_descriptImg,
  .about3_descriptImg {
    display: flex;
    width: 8rem;
    position: absolute;
    top: 31%;
    left: 10%;
  }

  .about2_descriptImg {
    left: 35%;
  }

  .about3_descriptImg {
    width: 10rem;
  }

  .footer {
    display: flex;
    bottom: 0;
  }
}

@media screen and (max-width: 360px) {
  .slide_section {
    width: 100vw;
    height: 90vh;
    top: 0;
  }

  .slideWrap {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 324px) {
  .slide_section {
    top: 5%;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    left: 0;
    font-size: 0.8rem;
  }

  .slides {
    height: 90vh;
  }

  .about1_description,
  .about2_description,
  .about3_description {
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
  }

  .about1_text,
  .about2_text,
  .about3_text {
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
  }

  .about1_text,
  .about3_text {
    font-size: 0.8rem;
    width: 11rem;
    top: 55%;
    left: 30%;
  }

  .about2_subtitle {
    width: 15rem;
    font-size: 1rem;
  }

  .about1_descriptImg,
  .about2_descriptImg,
  .about3_descriptImg {
    width: 5rem;
    align-items: center;
    justify-content: center;
    left: 0;
  }

  .about3_descriptImg {
    width: 7rem;
    left: 10%;
  }
}
