* {
  box-sizing: border-box;
}

.Home_Page {
  overflow-y: hidden;
}

.slide_section > input[id*="slide"] {
  display: none;
}

.home {
  display: flex;
  position: absolute;
  top: 5.5rem;
  background-image: url(../../image/home_bg1_blurred.jpg);
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
}

.slide_section {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  left: 16%;
  top: 4.5rem;
  white-space: nowrap;
}

.slideWrap {
  position: relative;
  display: flex;
  width: 1120px;
  height: 640px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.712);
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  flex-direction: row;
  transition: all 0.5s;
}

.about1,
.about2,
.about3 {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.about1_img {
  display: flex;
  background-image: url(../../image/home_bg1.jpg);
  width: 1120px;
  height: 640px;
}

.about2_img {
  display: flex;
  background-image: url(../../image/home_bg2.jpg);
  width: 1120px;
  height: 640px;
}

.about3_img {
  display: flex;
  background-image: url(../../image/home_bg3.jpg);
  width: 1120px;
  height: 640px;
}

.slides > li > label {
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.left {
  display: flex;
  position: absolute;
  left: 2rem;
  background: url("../../image/left.png") center center / 100% no-repeat;
  z-index: 100;
  width: 5rem;
  height: 5rem;
}

.right {
  display: flex;
  position: absolute;
  right: 2rem;
  background: url("../../image/right.png") center center / 100% no-repeat;
  z-index: 50;
  width: 5rem;
  height: 5rem;
}

.slide_section [id="slide1"]:checked ~ .slideWrap .slides > li {
  transform: translateX(0%);
}

.slide_section [id="slide2"]:checked ~ .slideWrap .slides > li {
  transform: translateX(-100%);
}

.slide_section [id="slide3"]:checked ~ .slideWrap .slides > li {
  transform: translateX(-200%);
}

@media screen and (max-width: 860px) {
  .slide_section {
    width: 560px;
    margin: 0 auto;
    left: 0;
  }

  .about1_img {
    background-image: url(../../image/home_bg1_860.jpg);
  }

  .about2_img {
    background-image: url(../../image/home_bg2_860.jpg);
  }

  .about3_img {
    background-image: url(../../image//home_bg3_860.jpg);
  }
}

@media screen and (max-width: 416px) {
  .slide_section {
    top: 1.5rem;
    width: 20rem;
    height: 36rem;
    margin: 0 auto;
    left: 0;
  }

  .about1_img {
    object-fit: cover;
  }

  .right {
    width: 3rem;
    object-fit: cover;
    right: 1rem;
  }

  .left {
    width: 3rem;
    object-fit: cover;
    left: 1rem;
  }

  .slides > li > label {
    top: 45%;
  }
}
