@font-face {
  font-family: Pacifico_Regular;
  src: url(../../fonts/Pacifico-Regular.ttf);
}

.BtnLogout.visible,
.BtnLogin.visible {
  display: flex;
  position: absolute;
  right: 2.2rem;
  top: 2rem;
  display: flex;
  cursor: pointer;
  font-family: "jua_regular";
  color: green;
  background-color: white;
  border-radius: 1rem;
  border: none;
  width: 4rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: all 10ms ease;
}

.BtnLogout.invisible,
.BtnLogin.invisible {
  display: none;
}

.BtnLogout:hover,
.BtnLogin:hover {
  transform: scale(1.1);
}

.menu {
  position: absolute;
  right: 7rem;
  display: flex;
  flex-direction: row;
  font-family: "Pacifico_Regular";
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}

.menu.closed {
  display: none;
}

/* Responsive **/

@media screen and (max-width: 860px) {
  .BtnLogin.visible,
  .BtnLogout.visible {
    right: 6rem;
  }

  .menu.open {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    right: 0;
    top: 4.4rem;
    background-color: var(--header-background-color);
  }
}
