.Search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.search_phrase {
  display: flex;
  margin: 0 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: #4dba5b;
}

.search_input {
  display: flex;
  width: 19rem;
  height: 1.5rem;
  margin: 0 0.5rem;
}

.BtnSearch {
  border: none;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 0.2rem;
  height: 1.5rem;
}

.BtnSearch:hover {
  transform: scale(1.05);
}

.Search_Result {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: relative;
}

p {
  color: black;
}

.result_list {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: 20rem;
  position: fixed;
  overflow: scroll;
}

.result_list.hidden {
  visibility: hidden;
}

.result_list.show {
  visibility: visible;
}

.place_list {
  display: flex;
  height: 2rem;
  width: 100%;
  font-size: 0.8rem;
  margin: 1rem 0;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
}
