.Search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 1rem; */
}

.search_phrase {
  display: flex;
  margin: 0 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: #4dba5b;
}

.search_input {
  display: flex;
  width: 19rem;
  height: 1.5rem;
  margin: 0 0.5rem;
}

.BtnSearch {
  border: none;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 0.2rem;
  height: 1.5rem;
}

.BtnSearch:hover {
  transform: scale(1.05);
}

.Search_List {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: relative;
}

.Search_List.hidden {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: relative;
  visibility: hidden;
}

.Search_List.visible {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: relative;
  visibility: visible;
}

ul {
  display: flex;
  flex-direction: column;
}

.list_places {
  display: flex;
  flex-direction: column;
}

.list_place {
  color: black;
  display: flex;
  font-size: 0.8rem;
  cursor: pointer;
}
