* {
  box-sizing: border-box;
}

@font-face {
  font-family: "HangeulNuri_regular";
  src: url(../../fonts/HangeulNuriR.ttf);
}

div.container > img {
  display: flex;
  max-width: 10rem;
}

figure > img {
  display: flex;
  max-width: 10rem;
}

.diary_container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 65rem;
  height: 27rem;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 10px black;
  background-color: rgba(255, 255, 255, 0.863);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 15rem;
  height: 85%;
  border-right: 1.5px solid rgba(133, 136, 133, 0.76);
  cursor: default;
}

.date {
  display: flex;
  font-family: "HangeulNuri_regular";
}

.title {
  display: flex;
  font-family: "HangeulNuri_regular";
  width: 8.7rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pos {
  display: flex;
  font-family: "HangeulNuri_regular";
}

.score {
  display: flex;
  font-family: "HangeulNuri_regular";
}

.content {
  display: flex;
  flex-direction: column;
  width: 45rem;
  height: 85%;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  margin: 0;
  margin-right: 4rem;
}

.BtnDelete {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 0.7rem;
  width: 3rem;
  height: 2rem;
  font-size: 1.5rem;
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.BtnDelete:hover {
  transform: scale(1.1);
  color: red;
}

@media screen and (max-width: 860px) {
  .diary_container {
    width: 70%;
  }

  .date {
    font-size: 0.7rem;
  }

  .title {
    font-size: 0.85rem;
    white-space: pre-line;
    margin: 1rem 0.5rem;
  }

  .pos {
    font-size: 0.7.5rem;
  }

  .content {
    width: 47rem;
    margin-right: 2.5rem;
    padding: 1rem;
  }

  .BtnDelete {
    right: 0;
  }
}

@media screen and (max-width: 416px) {
  .diary_container {
    position: relative;
    flex-direction: column;
    width: 20rem;
    height: 25rem;
  }

  .description {
    position: absolute;
    top: 1.5rem;
    width: 90%;
    height: 25%;
    border: none;
    margin: 0;
    border-bottom: 1px solid gray;
  }

  .date {
    font-size: 0.7rem;
    margin: 0.2rem 0;
  }

  .title {
    font-size: 0.8rem;
    margin: 0.3rem 0;
    font-weight: 700;
  }

  .pos {
    font-size: 0.7rem;
    margin: 0.3rem 0;
  }

  .score {
    font-size: 0.7rem;
    margin: 0.3rem 0;
  }

  .content {
    position: absolute;
    bottom: 1rem;
    width: 80%;
    height: 65%;
    font-size: 80%;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 750px) {
  .diary_container {
    width: 90%;
  }
}

@media screen and (max-width: 332px) {
  .diary_container {
    width: 16rem;
    height: 24rem;
  }
}
