* {
  box-sizing: border-box;
}

@font-face {
  font-family: "HangeulNuri_regular";
  src: url(../../fonts/HangeulNuriR.ttf);
}

div.container > img {
  display: flex;
  max-width: 10rem;
}

figure > img {
  display: flex;
  max-width: 10rem;
}

.diary_container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 60rem;
  height: 30rem;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 10px black;
  background-color: rgba(255, 255, 255, 0.863);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 100%;
  border-right: 1px solid gray;
  cursor: default;
}

.date {
  display: flex;
  font-family: "HangeulNuri_regular";
}

.title {
  display: flex;
  font-family: "HangeulNuri_regular";
}

.pos {
  display: flex;
  font-family: "HangeulNuri_regular";
}

.score {
  display: flex;
  font-family: "HangeulNuri_regular";
}

.content {
  display: flex;
  flex-direction: column;
  width: 45rem;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 1rem;
}

.BtnDelete {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  width: 3rem;
  height: 2rem;
  font-size: 1.5rem;
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.BtnDelete:hover {
  transform: scale(1.1);
  color: red;
}
