* {
  box-sizing: border-box;
}

@font-face {
  font-family: "IBM_R";
  src: url(../../fonts/IBMPlexSansKR-Medium.ttf);
}

.Login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(../../image/plate_bg_beige.jpg);
}

.Login_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 70%;
  border: 4px solid rgb(192, 192, 173);
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.644);
}

.login_logo {
  display: flex;
  position: absolute;
  top: -4rem;
  width: 20rem;
  height: 10rem;
}

.Login_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.644);
}

.email_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 2px solid gray;
}

.user_login_title,
.social_login_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  margin-top: 1rem;
  font-family: "IBM_R";
  font-size: 1.2rem;
}

.user_login_title {
  font-size: 1.5rem;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
}

.email,
.password {
  display: flex;
  width: 100%;
}

.input_email,
.input_password {
  display: flex;
  width: 100%;
  height: 2.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
  background-color: rgb(255, 241, 196);
  border: none;
  box-shadow: 5px 2px 2px black;
  outline: none;
}

.input_email::placeholder,
.input_password::placeholder {
  padding-left: 1rem;
  font-size: 0.8rem;
}

.social_login {
  list-style: none;
  padding: 0;
}

.login_google,
.login_facebook {
  position: relative;
  list-style: none;
}

.BtnGoogle,
.BtnFacebook {
  position: relative;
  display: flex;
  margin: 0.3rem 0;
  width: 10rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
  font-size: 1rem;
  box-shadow: 5px 2px 2px black;
  border: none;
  border-radius: 0.4rem;
  background-color: #dbc172;
  color: white;
  cursor: pointer;
}

.BtnGoogle:hover,
.BtnFacebook:hover {
  transform: scale(1.1);
}

.BtnFacebook > p {
  position: absolute;
  display: flex;
  margin-left: 1rem;
  font-size: 1.1rem;
  right: 1.5rem;
}

.BtnGoogle > p {
  position: absolute;
  right: 1.5rem;
  display: flex;
  margin-left: 2.2rem;
  font-size: 1.1rem;
}

.logo_facebook {
  position: absolute;
  left: 1.5rem;
  color: blue;
}

.logo_google {
  position: absolute;
  left: 1.5rem;
}

.signup {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  border-top: 1px solid gray;
  margin: 0;
}

.signup_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BtnSignup {
  display: flex;
  width: 7rem;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border: none;
  font-family: "IBM_R";
  cursor: pointer;
  transition: all ease 0.1s;
}

.BtnSignup:hover {
  transform: scale(1.1);
  background-color: rgb(247, 218, 56);
}
