* {
  box-sizing: border-box;
}

:root {
  --login-title-font-family: "ghanachoco";
  --login-text-font-family: "Hanna";
}

@font-face {
  font-family: "ghanachoco";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

.hanna * {
  font-family: "Hanna", fantasy;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: gold;
}

.login_wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  height: 80%;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px black;
}

.login_image {
  display: flex;
  width: 25%;
  height: 100%;
  background: url(../../image/login_image.jpg) center;
  border-radius: 1rem 0 0 1rem;
}

.login_container {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0 1rem 1rem 0;
}

.login_title {
  display: flex;
  font-family: var(--login-title-font-family);
  font-size: 3rem;
  margin: 1rem 0;
  border-bottom: 2px solid black;
}

.email_login {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 2px solid gold;
  margin-top: 2rem;
}

.user_login_title,
.social_login_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  margin-top: 1rem;
  font-family: var(--login-text-font-family);
  font-size: 1.2rem;
}

.user_login_title {
  font-size: 1.5rem;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
}

.email,
.password {
  display: flex;
  width: 100%;
}

.input_email,
.input_password {
  display: flex;
  width: 100%;
  height: 2.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
  padding-left: 1rem;
  border: none;
  box-shadow: 5px 2px 2px orange;
  outline: none;
}

.input_email::placeholder,
.input_password::placeholder {
  padding-left: 1rem;
  font-size: 0.8rem;
}

.BtnLogin {
  display: flex;
  cursor: pointer;
  height: 0.8rem;
  margin: 1rem 0;
  width: auto;
  border: none;
  background: none;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.BtnLogin:hover {
  transform: scale(1.15);
}

.social_login {
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 1rem;
}

.login_google,
.login_facebook {
  position: relative;
  list-style: none;
}

.BtnGoogle,
.BtnFacebook {
  position: relative;
  display: flex;
  margin: 0.3rem 0;
  width: 10rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
  font-size: 1rem;
  box-shadow: 5px 2px 2px orange;
  border: 2px;
  border-style: ridge;
  border-radius: 0.4rem;
  color: black;
  cursor: pointer;
}

.BtnGoogle:hover,
.BtnFacebook:hover {
  transform: scale(1.1);
}

.BtnFacebook > p {
  position: absolute;
  display: flex;
  margin-left: 1rem;
  font-size: 1.1rem;
  right: 1.5rem;
}

.BtnGoogle > p {
  position: absolute;
  right: 1.5rem;
  display: flex;
  margin-left: 2.2rem;
  font-size: 1.1rem;
}

.logo_facebook {
  position: absolute;
  left: 1.5rem;
  color: blue;
}

.logo_google {
  position: absolute;
  left: 1.5rem;
}

.signup {
  display: flex;
  flex-direction: row;
  width: 65%;
  align-items: center;
  border-top: 2px solid gold;
  margin: 0;
}

.signup_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "IBM_R";
}

.BtnSignup {
  display: flex;
  width: 7rem;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border: none;
  font-family: "IBM_R";
  cursor: pointer;
  transition: all ease 0.1s;
  background-color: white;
}

.BtnSignup:hover {
  transform: scale(1.1);
  background-color: rgb(247, 218, 56);
}
